DataAgent/Service References/SR_Synchronizer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SharedDataTypes" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllIngredients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedDataTypes" minOccurs="0" name="QueryAllIngredientsResult" nillable="true" type="q1:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>