DataAgent/Service References/SR_Synchronizer/SharedDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SharedDataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedDataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfOrderContent" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="DateOfDelivery" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="ser:guid" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderContent" nillable="true" type="tns:OrderContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderContent" nillable="true" type="tns:ArrayOfOrderContent" />
  <xs:complexType name="OrderContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="OrderContentId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderContent" nillable="true" type="tns:OrderContent" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="CustomerId" type="ser:guid" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdressId" type="ser:guid" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="OrderStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatus" nillable="true" type="tns:OrderStatus" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IngredientId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfShape">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shape" nillable="true" type="tns:Shape" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShape" nillable="true" type="tns:ArrayOfShape" />
  <xs:complexType name="Shape">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShapeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shape" nillable="true" type="tns:Shape" />
  <xs:complexType name="ArrayOfWrapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Wrapping" nillable="true" type="tns:Wrapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWrapping" nillable="true" type="tns:ArrayOfWrapping" />
  <xs:complexType name="Wrapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="WrappingId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wrapping" nillable="true" type="tns:Wrapping" />
</xs:schema>